<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, t("articles") %>
  <div class="flex flex-col justify-between gap-4">
    <h1 class="font-bold text-4xl"><%= @feed.title %></h1>
    <div class="text-m text-gray-500"><%= @feed.description %></div>
    <div class="text-s text-red-500"><%= @feed.url %></div>
  </div>
  <div id="articles" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-6 mt-5">
    <% @articles.each do |article| %>
      <%= render article %>
    <% end %>
  </div>
</div>