<div id="<%= "#{dom_id(article)}_container" %>" class="w-full">
  <%= turbo_frame_tag dom_id(article) do %>
    <div class="bg-white shadow-md rounded-lg p-6">
      <div class="flex flex-col sm:flex-row sm:items-center gap-4">
        <div>
          <h2
            class="
              text-xl sm:text-2xl font-semibold text-blue-600 mb-2
              hover:text-black flex items-center gap-2
            "
          >
            <%= image_tag(article.feed.favicon, class: "rounded-full w-10 h-10", alt: "#{article.feed.title} favicon") %>
            <%= link_to article.title, article_path(article), data: { turbo_frame: "_top" } %>
          </h2>

          <span>
            <%= safe_link_to(article_action(article), article.link, target: "_blank") %>
          </span>

          <% if params["controller"] == "articles" && params["action"] == "show" %>
            <% if @article.youtube_channel_id %>
              <div class="aspect-w-16 aspect-h-9 mt-5">
                <iframe
                  src="https://www.youtube.com/embed/<%= @article.youtube_video_id %>?rel=0&autoplay=0 %>"
                  title="YouTube video player for <%= @article.title %>"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            <% else %>
              <div
                class="
                  max-w-full overflow-x-auto break-words text-sm
                  sm:text-base text-gray-600 mt-5 leading-relaxed space-y-4
                  [&_pre]:whitespace-pre-wrap [&_pre]:break-words
                  [&_img]:max-w-full [&_table]:max-w-full
                "
              >
                <%= sanitize article.content %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <hr class="border-gray-150 mt-5 mb-5">

      <div
        class="
          mt-4 flex flex-col items-center xl:flex-row xl:items-center
          xl:justify-between gap-3 xl:top-5
        "
      >
        <div>
          <%= link_to article.feed.title, feed_path(article.feed), class: "text-sm text-red-400", data: { turbo_frame: "_top" } %>
        </div>

        <div
          class="
            flex flex-col items-center sm:flex-row sm:items-center
            sm:justify-between gap-4
          "
        >
          <div class="text-sm text-gray-500 xl:mr-6 mt-5 xl:mt-0">
            <%= article.published_at.strftime("%d-%m-%Y") %>
          </div>

          <div>
            <%= render partial: "articles/share", locals: { article: article } %>
          </div>

          <div>
            <%= turbo_frame_tag "#{dom_id(article)}_bookmark" do %>
              <%= render partial: "articles/bookmark", locals: { article: article } %>
            <% end %>
          </div>

          <div>
            <% if params["controller"] == "articles" && params["action"] == "index" %>
              <div>
                <% if article.is_read? %>
                  <%= button_to update_read_article_path(article, article: { read: false }), class: "bg-green-600 px-4 py-2 rounded hover:bg-green-700", method: :patch do %>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5 text-white"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  <% end %>
                <% else %>
                  <%= button_to update_read_article_path(article, article: { read: true }), class: "bg-gray-400 px-4 py-2 rounded hover:bg-green-700", method: :patch do %>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5 text-white"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
