<div
  class="relative inline-block"
  data-controller="share"
  data-article-link="<%= article.link %>"
>
  <!-- Share Button -->
  <button
    data-action="click->share#toggleMenu"
    class="
      flex items-center gap-2 px-3 py-2 rounded-md hover:bg-gray-100
      transition-colors
    "
    title="<%= t("article.share") %>"
  >
    <!-- Font Awesome Share Icon -->
    <svg
      class="h-5 w-5 text-gray-600"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 500 500"
      fill="currentColor"
    >
      <!-- !Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
      <path
        d="M384 192c53 0 96-43 96-96s-43-96-96-96-96 43-96 96c0 5.4 .5 10.8 1.3 16L159.6 184.1c-16.9-15-39.2-24.1-63.6-24.1-53 0-96 43-96 96s43 96 96 96c24.4 0 46.6-9.1 63.6-24.1L289.3 400c-.9 5.2-1.3 10.5-1.3 16 0 53 43 96 96 96s96-43 96-96-43-96-96-96c-24.4 0-46.6 9.1-63.6 24.1L190.7 272c.9-5.2 1.3-10.5 1.3-16s-.5-10.8-1.3-16l129.7-72.1c16.9 15 39.2 24.1 63.6 24.1z"
      />
    </svg>

    <span class="text-sm text-gray-600"><%= t("article.share") %></span>
  </button>

  <!-- Dropdown Menu -->
  <div
    data-share-target="menu"
    class="
      hidden absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg z-50
      py-2
    "
  >
    <!-- Copy Link -->
    <button
      data-share-target="copyButton"
      data-action="click->share#copyToClipboard"
      class="
        w-full text-left px-4 py-2 hover:bg-gray-100 transition-colors flex
        items-center gap-3
      "
    >
      <!-- Font Awesome Link Icon -->
      <svg
        class="h-5 w-5 text-gray-600"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 640 512"
        fill="currentColor"
      >
        <!-- !Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
        <path
          d="M192 0c-35.3 0-64 28.7-64 64l0 256c0 35.3 28.7 64 64 64l192 0c35.3 0 64-28.7 64-64l0-200.6c0-17.4-7.1-34.1-19.7-46.2L370.6 17.8C358.7 6.4 342.8 0 326.3 0L192 0zM64 128c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l192 0c35.3 0 64-28.7 64-64l0-16-64 0 0 16-192 0 0-256 16 0 0-64-16 0z"
        />
      </svg>

      <span class="text-sm"><%= t("article.copy_link") %></span>
    </button>

    <div class="border-t border-gray-200 my-1"></div>

    <!-- Share on X -->
    <a
      href="<%= share_on_x_url(article) %>"
      data-action="click->share#shareOnX"
      class="block px-4 py-2 hover:bg-gray-100 transition-colors text-left"
    >
      <div class="flex items-center gap-3">
        <!-- Font Awesome X Icon -->
        <svg
          class="h-5 w-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          fill="currentColor"
        >
          <!-- !Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
          <path
            d="M357.2 48L427.8 48 273.6 224.2 455 464 313 464 201.7 318.6 74.5 464 3.8 464 168.7 275.5-5.2 48 140.4 48 240.9 180.9 357.2 48zM332.4 421.8l39.1 0-252.4-333.8-42 0 255.3 333.8z"
          />
        </svg>

        <span class="text-sm"><%= t("article.share_on_x") %></span>
      </div>
    </a>

    <!-- Share on Bluesky -->
    <a
      href="<%= share_on_bsky_url(article) %>"
      data-action="click->share#shareOnBsky"
      class="block px-4 py-2 hover:bg-gray-100 transition-colors text-left"
    >
      <div class="flex items-center gap-3">
        <!-- Font Awesome Bluesky Icon -->
        <svg
          class="h-5 w-5 text-sky-500"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
          fill="currentColor"
        >
          <!-- !Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
          <path
            d="M407.8 294.7c-3.3-.4-6.7-.8-10-1.3 3.4 .4 6.7 .9 10 1.3zM288 227.1C261.9 176.4 190.9 81.9 124.9 35.3 61.6-9.4 37.5-1.7 21.6 5.5 3.3 13.8 0 41.9 0 58.4S9.1 194 15 213.9c19.5 65.7 89.1 87.9 153.2 80.7 3.3-.5 6.6-.9 10-1.4-3.3 .5-6.6 1-10 1.4-93.9 14-177.3 48.2-67.9 169.9 120.3 124.6 164.8-26.7 187.7-103.4 22.9 76.7 49.2 222.5 185.6 103.4 102.4-103.4 28.1-156-65.8-169.9-3.3-.4-6.7-.8-10-1.3 3.4 .4 6.7 .9 10 1.3 64.1 7.1 133.6-15.1 153.2-80.7 5.9-19.9 15-138.9 15-155.5s-3.3-44.7-21.6-52.9c-15.8-7.1-40-14.9-103.2 29.8-66.1 46.6-137.1 141.1-163.2 191.8z"
          />
        </svg>

        <span class="text-sm"><%= t("article.share_on_bsky") %></span>
      </div>
    </a>

    <!-- Share on LinkedIn -->
    <a
      href="<%= share_on_linkedin_url(article) %>"
      data-action="click->share#shareOnLinkedin"
      class="block px-4 py-2 hover:bg-gray-100 transition-colors text-left"
    >
      <div class="flex items-center gap-3">
        <!-- Font Awesome LinkedIn Icon -->
        <svg
          class="h-5 w-5 text-blue-700"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          fill="currentColor"
        >
          <path
            d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.4V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5c67.2 0 79.7 44.3 79.7 101.9V416z"
          />
        </svg>

        <span class="text-sm"><%= t("article.share_on_linkedin") %></span>
      </div>
    </a>
  </div>
</div>
