<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, t("articles") %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= t("articles") %> <span class="text-s text-gray-300"><%= @articles.count if @articles.any? %></span></h1>
  </div>
  <% if @articles.any? %>
    <div id="articles" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-6 mt-5">
      <% @articles.each do |article| %>
        <%= render article %>
      <% end %>
    </div>
  <% else %>
    <%= form_with(model: @feed, class: "contents") do |form| %>
      <div class="my-5" data-controller="character-counter">
        <%= form.label :feed_url %>
        <%= form.text_field :url, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", data: {character_counter_target: "input"}, maxlength: "100" %>
      </div>
      <div class="inline">
        <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
    <% end %>
  <% end %>
</div>
