<div class="w-full mx-auto p-4">
  <% content_for :title, "#{@user.nick_name}" %>
  <div class="flex items-center gap-4">
    <%= image_tag @user.avatar_url, class: "w-12 h-12 rounded-full" %>
    <div class="font-medium dark:text-white">
      <div class="text-lg text-red-400 font-semibold"><%= @user.nick_name %></div>
      <div class="text-sm text-gray-500">Joined in <%= @user.created_at.strftime("%B, %Y") %></div>
    </div>
    <% if Flipper.enabled?(:search, @user) %>
      <div>
        <% if @user.subscription_active? %>
          <div class="flex gap-4 items-center">
            <div>
              <p><%= t("subscription.success_status") %></p>
              <p><b><%=  t("subscription.expires_at")%></b> <%= @user.subscription_expires_at.strftime("%d-%B-%Y") %></p>
            </div>
            <div>
              <%= button_to t("subscription.unsubscribe"), unsubscribe_path, method: :post, class: "rounded-lg py-1 px-2 border-2 border-red-500 text-red block font-medium", form: { data: { turbo: false } } %>
            </div>
          </div>
        <% else %>
          <%= button_to t("subscription.subscribe"), subscribe_path, method: :post, class: "rounded-lg py-1 px-2 border-2 border-red-500 text-red block font-medium", form: { data: { turbo: false } } %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr class="mt-5 mb-5">
  <div class="grid grid-cols-1 gap-6">
    <h2 class="text-2xl font-bold text-blue-600"><%= t("settings.profile") %></h2>
    <%= form_with(model: @user, class: "user") do |form| %>
      <div class="my-5">
        <%= form.label :nick_name, class: "block text-gray-700 font-medium" %>
        <%= form.text_field :nick_name, class: "block w-full max-w-md shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2" %>
      </div>
      <div class="my-5">
        <%= form.label :email_address, class: "block text-gray-700 font-medium" %>
        <%= form.text_field :email_address, class: "block w-full max-w-md shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2" %>
      </div>
      <div class="my-5">
        <%= form.label :password, class: "block text-gray-700 font-medium" %>
        <%= form.password_field :password, class: "block w-full max-w-md shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2" %>
      </div>
      <div class="my-5">
        <%= form.label :password_confirmation, class: "block text-gray-700 font-medium" %>
        <%= form.password_field :password_confirmation, class: "block w-full max-w-md shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2" %>
      </div>
      <div class="my-5">
        <%= form.submit class: "w-full max-w-md rounded-lg py-3 px-5 bg-blue-600 text-white font-medium cursor-pointer text-center" %>
      </div>
    <% end %>
  </div>
</div>
