<nav class="bg-blue-600 text-white py-4 p-5" data-controller="menu">
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <%= link_to "Bloudme", root_path, class: "text-2xl font-bold hover:text-blue-300" %>
    <% unless authenticated? %>
      <div>
        <% I18n.available_locales.each do |locale| %>
          <%= link_to locale_to_flag(locale), url_for(locale: locale), class: (locale == I18n.locale ? "text-2xl" : "") %>
        <% end %>
      </div>
    <% end %>
    <% if authenticated? %>
      <button
        data-action="click->menu#toggle"
        class="sm:hidden text-white focus:outline-none focus:ring-2 focus:ring-white"
        aria-label="Toggle navigation">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
      </button>
      <ul class="hidden sm:flex flex-wrap items-center space-x-6 mt-2 sm:mt-0">
        <li>
          <%= link_to t("feeds.new"), new_feed_path, class: "rounded-lg py-1 px-2 border-2 border-white-500 text-white block font-medium" %>
        </li>
        <li class="text-center">
          <div data-controller="dropdown" class="relative">
            <!-- User Avatar -->
            <img
              src=<%= Current.user.avatar_url %>
              alt="User Avatar"
              class="w-10 h-10 p-0.5 rounded-full ring-2 ring-gray-500 dark:ring-gray-500l cursor-pointer"
              data-action="click->dropdown#toggle"
              />
              <!-- Dropdown Menu -->
              <div
              class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg hidden pb-5"
              data-dropdown-target="menu"
            >
                <ul class="py-1">
                  <li>
                    <%= link_to user_path(Current.user), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" do %>
                      <%= Current.user.nick_name %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to settings_user_path(Current.user), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" do %>
                      <%= t("users.settings") %>
                    <% end %>
                  </li>
                  <li>
                    <% if Current.user.is_admin %>
                      <li>
                        <%= link_to "Admin", admin_dashboard_index_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
                      </li>
                    <% end %>
                  </li>
                  <li>
                    <div class="mb-5">
                      <% I18n.available_locales.each do |locale| %>
                        <%= link_to locale_to_flag(locale), url_for(locale: locale), class: (locale == I18n.locale ? "text-2xl" : "") %>
                      <% end %>
                    </div>
                  </li>
                  <li>
                    <%= button_to t("home.sign_out"), session_path, method: :delete, class: "bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded text-sm" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div
      data-menu-target="dropdown"
      class="hidden sm:hidden flex-col bg-blue-700 text-white mt-4">
      <div class="px-4 py-2 text-center">
        <%= link_to  t("feeds.new"), new_feed_path, class: "rounded-lg py-1 px-2 border-2 border-white-500 text-white block font-medium mb-3 mt-2" %>
      </div>
      <div class="px-4 py-2 text-center">
        <%= link_to Current.user.nick_name, feeds_path, class: "text-red-500 hover:underline text-white" %>
      </div>
      <div class="px-4 py-2 text-center">
        <%= link_to t("users.settings"), settings_user_path(Current.user), class: "text-red-500 hover:underline text-white" %>
      </div>
      <% if Current.user.is_admin %>
        <div class="px-4 py-2 text-center">
          <%= link_to "Admin", admin_dashboard_index_path, class: "text-red-500 hover:underline text-white" %>
        </div>
      <% end %>
      <div class="px-4 py-2 text-center">
        <% I18n.available_locales.each do |locale| %>
          <%= link_to locale_to_flag(locale), url_for(locale: locale), class: (locale == I18n.locale ? "text-2xl" : "") %>
        <% end %>
      </div>
      <div class="px-4 py-2 text-center">
        <%= button_to t("home.sign_out"), session_path, method: :delete, class: "bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded w-full mt-5" %>
      </div>
    </div>
  <% end %>
</nav>