<div id="<%= dom_id post %>" class="w-full">
  <div class="bg-white shadow-md rounded-lg p-6">
    <h2 class="text-2xl font-semibold text-blue-600 mb-4 hover:text-black">
      <%= link_to post.title, post_path(post) %>
    </h2>

    <% unless (controller_name == "posts" && action_name == "index") || (controller_name == "users" && action_name == "show") %>
      <p class="text-gray-600 mb-4"><%= post.content %></p>
    <% end %>

    <p class="text-sm text-gray-500 mt-4">
      <%= post.user.email_address %> |
      <%= time_ago_in_words(post.created_at) %> ago
    </p>
  </div>
</div>
