<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bloudme" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-blue-600 text-white py-4 p-10" data-controller="menu">
      <div class="container mx-auto flex flex-wrap items-center justify-between">
        <%= link_to "Bloudme", root_path, class: "text-2xl font-bold hover:text-blue-300" %>
        <button
          data-action="click->menu#toggle"
          class="sm:hidden text-white focus:outline-none focus:ring-2 focus:ring-white"
          aria-label="Toggle navigation">
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
        </button>
        <% if authenticated? %>
          <ul class="hidden sm:flex flex-wrap items-center space-x-6 mt-2 sm:mt-0">
            <li class="text-center">
              <%= link_to Current.user.email_address, dashboard_index_path, class: "text-red-500 hover:underline text-white" %>
            </li>
            <li>
              <%= button_to 'Sign out', session_path, method: :delete, class: "bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded" %>
            </li>
          </ul>
        </div>
        <div
          data-menu-target="dropdown"
          class="hidden sm:hidden flex-col bg-blue-700 text-white mt-4">
          <div class="px-4 py-2 text-center">
            <%= link_to Current.user.email_address, dashboard_index_path, class: "text-red-500 hover:underline text-white" %>
          </div>
          <div class="px-4 py-2 text-center">
            <%= button_to 'Sign out', session_path, method: :delete, class: "bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded w-full" %>
          </div>
        </div>
      <% end %>
    </nav>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
